.MuiToolbar-regular {
    min-height: 48px;
}

h6 {
    font-size: 0.8rem !important;
}


#detail-view > div::-webkit-scrollbar {
    width: 10px;
}

#detail-view > div {
    scrollbar-width: thin;
    scrollbar-color: var(--thumbBG) var(--scrollbarBG);
}

#detail-view > div::-webkit-scrollbar-track {
    background: var(--scrollbarBG);
}

#detail-view > div::-webkit-scrollbar-thumb {
    background-color: var(--thumbBG);
    border-radius: 6px;
    border: 3px solid var(--scrollbarBG);
}
